<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%- include('partials/common-head') %>
		<title>Contacto</title>

	</head>
	<body id="contact-page" class="bg-cover-top">
		<%- include('partials/common-header') %>
		<main class="container my-5 pt-5"  role="main">
			<form class="form-control">
				<h2>Contacto</h2>
				<p>¿Tienes alguna pregunta? No dudes en contactarnos.</p>
				<div class="mb-3">
					<label for="name" class="form-label">Nombre</label>
					<input type="text" class="form-control" id="name" placeholder="Tu nombre">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Correo Electrónico</label>
					<input type="email" class="form-control" id="email" placeholder="tuemail@example.com">
				</div>
				<div class="mb-3">
					<label for="subject" class="form-label">Asunto</label>
					<input type="text" class="form-control" id="subject" placeholder="Asunto del mensaje">
				</div>
				<div class="mb-3">
					<label for="message" class="form-label">Mensaje</label>
					<textarea class="form-control" id="message" rows="3" placeholder="Escribe tu mensaje aquí"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Enviar Mensaje</button>
			</form>
		</main>
		<%- include('partials/common-footer') %>
		<%- include('partials/components/asistance-button') %>
		<%- include('partials/common-scripts') %>
	</body>
</html>
