<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('partials/common-head') %>
        <title>Política de Cookies</title>
    </head>
    <body id="cookies-page">
        <%- include('partials/common-header') %>
        <main class="container p-5" role="main">
            <h1>Política de Cookies</h1>
            <p>Última actualización: 06 de febrero de 2024</p>
            <p>Esta Política de Cookies explica qué son las cookies y cómo las utilizamos. Deberías leer esta política para que puedas entender qué tipo de cookies utilizamos, o la información que recopilamos usando cookies y cómo esa información es utilizada. Esta Política de Cookies ha sido creada con la ayuda del <a href="https://www.privacypolicies.com/cookies-policy-generator/" target="_blank">Generador de Políticas de Cookies</a>.</p>
            <p>Las cookies no suelen contener información que identifique personalmente a un usuario, pero la información personal que almacenamos sobre ti puede estar vinculada a la información almacenada en y obtenida de las cookies. Para obtener más información sobre cómo utilizamos, almacenamos y mantenemos tus datos personales seguros, consulta nuestra Política de Privacidad.</p>
            <p>No almacenamos información personal sensible, como direcciones de correo, contraseñas de cuentas, etc., en las cookies que utilizamos.</p>
            <h2>Interpretación y Definiciones</h2>
            <h3>Interpretación</h3>
            <p>Las palabras cuya letra inicial está en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en singular o en plural.</p>
            <h3>Definiciones</h3>
            <p>Para los fines de esta Política de Cookies:</p>
            <ul>
                <li><strong>Empresa</strong> (referida como "la Empresa", "Nosotros", "Nos" o "Nuestro" en esta Política de Cookies) se refiere a AVBEACON, Santiago de Compostela, 15706.</li>
                <li><strong>Cookies</strong> significa pequeños archivos que se colocan en tu computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contienen detalles de tu historial de navegación en ese sitio web entre sus muchos usos.</li>
                <li><strong>Sitio web</strong> se refiere a AVBEACON, accesible desde <a href="www.avbeacon.com" rel="external nofollow noopener" target="_blank">www.avbeacon.com</a></li>
                <li><strong>Tú</strong> significa el individuo que accede o usa el Sitio web, o una compañía, o cualquier entidad legal en nombre de la cual dicho individuo accede o usa el Sitio web, según sea aplicable.</li>
            </ul>
            <h2>El uso de las Cookies</h2>
            <h3>Tipos de Cookies que utilizamos</h3>
            <p>Las cookies pueden ser de "Sesión" o "Persistentes". Las cookies persistentes permanecen en tu computadora personal o dispositivo móvil cuando te desconectas, mientras que las cookies de sesión se eliminan tan pronto como cierras tu navegador web.</p>
            <p>Utilizamos tanto cookies de sesión como persistentes para los fines que se exponen a continuación:</p>
            <ul>
                <li>
                    <p><strong>Cookies Necesarias / Esenciales</strong></p>
                    <p>Tipo: Cookies de Sesión</p>
                    <p>Administradas por: Nosotros</p>
                    <p>Propósito: Estas cookies son esenciales para proporcionarte los servicios disponibles a través del Sitio web y para permitirte usar algunas de sus características. Ayudan a autenticar usuarios y prevenir el uso fraudulento de cuentas de usuarios. Sin estas cookies, los servicios que has solicitado no pueden ser proporcionados, y solo utilizamos estas cookies para proporcionarte esos servicios.</p>
                </li>
                <li>
                    <p><strong>Cookies de Funcionalidad</strong></p>
                    <p>Tipo: Cookies Persistentes</p>
                    <p>Administradas por: Nosotros</p>
                    <p>Propósito: Estas cookies nos permiten recordar las elecciones que haces cuando usas el Sitio web, como recordar tus detalles de inicio de sesión o preferencia de idioma. El propósito de estas cookies es proporcionarte una experiencia más personal y evitar que tengas que reintroducir tus preferencias cada vez que uses el Sitio web.</p>
                </li>
            </ul>
            <h3>Tus Elecciones Respecto a las Cookies</h3>
            <p>Si prefieres evitar el uso de Cookies en el Sitio web, primero debes deshabilitar el uso de Cookies en tu navegador y

               luego eliminar las Cookies guardadas en tu navegador asociadas con este sitio web. Puedes utilizar esta opción para prevenir el uso de Cookies en cualquier momento.</p>
            <p>Si no aceptas nuestras Cookies, podrías experimentar algunas inconveniencias en tu uso del Sitio web y algunas características podrían no funcionar correctamente.</p>
            <p>Si deseas eliminar las Cookies o instruir a tu navegador web para eliminar o rechazar las Cookies, por favor visita las páginas de ayuda de tu navegador web.</p>
            <ul>
                <li>
                    <p>Para el navegador web Chrome, por favor visita esta página de Google: <a href="https://support.google.com/accounts/answer/32050" rel="external nofollow noopener" target="_blank">https://support.google.com/accounts/answer/32050</a></p>
                </li>
                <li>
                    <p>Para el navegador web Internet Explorer, por favor visita esta página de Microsoft: <a href="http://support.microsoft.com/kb/278835" rel="external nofollow noopener" target="_blank">http://support.microsoft.com/kb/278835</a></p>
                </li>
                <li>
                    <p>Para el navegador web Firefox, por favor visita esta página de Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" rel="external nofollow noopener" target="_blank">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></p>
                </li>
                <li>
                    <p>Para el navegador web Safari, por favor visita esta página de Apple: <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" rel="external nofollow noopener" target="_blank">https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a></p>
                </li>
            </ul>
            <p>Para cualquier otro navegador web, por favor visita las páginas oficiales de tu navegador web.</p>
            <h3>Más Información sobre Cookies</h3>
            <p>Puedes aprender más sobre las cookies: <a href="https://www.privacypolicies.com/blog/cookies/" target="_blank">¿Qué son las Cookies?</a>.</p>
            <h3>Contáctanos</h3>
            <p>Si tienes alguna pregunta sobre esta Política de Cookies, puedes contactarnos:</p>
            <ul>
                <li>
                    <p>Por correo electrónico: avbeacon@gmail.com</p>
                </li>
                <li>
                    <p>Visitando esta página en nuestro sitio web: <a href="www.avbeacon.com/contact" rel="external nofollow noopener" target="_blank">www.avbeacon.com/contact</a></p>
                </li>
            </ul>
        </main>
        <%- include('partials/common-footer') %>
        <%- include('partials/components/asistance-button') %>
        <%- include('partials/common-scripts') %>
    </body>
</html>
