<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('partials/common-head') %>
        <title>Política de Privacidad</title>
    </head>
    <body id="privacy-page">
        <%- include('partials/common-header') %>
        <main class="container p-5" role="main">
            <h1>Política de Privacidad</h1>
            <p>Última actualización: 06 de febrero de 2024</p>
            <p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, uso y divulgación de tu información cuando utilizas el Servicio y te informa sobre tus derechos de privacidad y cómo te protege la ley.</p>
            <p>Utilizamos tus Datos Personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, aceptas la recopilación y uso de la información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad ha sido creada con la ayuda del <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Generador de Políticas de Privacidad</a>.</p>
            <h2>Interpretación y Definiciones</h2>
            <h3>Interpretación</h3>
            <p>Las palabras cuya letra inicial está en mayúsculas tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de si aparecen en singular o en plural.</p>
            <h3>Definiciones</h3>
            <p>Para los propósitos de esta Política de Privacidad:</p>
            <ul>
                <li>
                    <p><strong>Cuenta</strong> significa una cuenta única creada para que puedas acceder a nuestro Servicio o partes de nuestro Servicio.</p>
                </li>
                <li>
                    <p><strong>Afiliado</strong> significa una entidad que controla, está controlada por, o está bajo control común con una parte, donde "control" significa la propiedad de 50% o más de las acciones, interés de equidad u otros valores con derecho a voto para la elección de directores u otra autoridad administrativa.</p>
                </li>
                <li>
                    <p><strong>Empresa</strong> (referida como "la Empresa", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere a AVBEACON, Santiago de Compostela, 15706.</p>
                </li>
                <li>
                    <p><strong>Cookies</strong> son pequeños archivos que se colocan en tu computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contienen los detalles de tu historial de navegación en ese sitio web entre sus muchos usos.</p>
                </li>
                <li>
                    <p><strong>País</strong> se refiere a: España</p>
                </li>
                <li>
                    <p><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio como una computadora, un teléfono celular o una tableta digital.</p>
                </li>
                <li>
                    <p><strong>Datos Personales</strong> es cualquier información que se relaciona con una persona identificada o identificable.</p>
                </li>
                <li>
                    <p><strong>Servicio</strong> se refiere al Sitio web.</p>
                </li>
                <li>
                    <p><strong>Proveedor de Servicios</strong> significa cualquier persona natural o jurídica que procesa los datos en nombre de la Compañía. Se refiere a empresas o individuos terceros contratados por la Compañía para facilitar el Servicio, para proporcionar el Servicio en nombre de la Compañía, para realizar servicios relacionados con el Servicio o para ayudar a la Compañía en el análisis de cómo se utiliza el Servicio.</p>
                </li>
                <li>
                    <p><strong>Datos de Uso</strong> se refiere a datos recopilados automáticamente, generados por el uso del Servicio o desde la infraestructura del Servicio en sí (por ejemplo, la duración de una visita a la página).</p>
                </li>
                <li>
                    <p><strong>Sitio web</strong> se refiere a AVBEACON, accesible desde <a href="www.avbeacon.com" rel="external nofollow noopener" target="_blank">www.avbeacon.com</a></p>
                </li>
                <li>
                    <p><strong>Tú</strong> significa el individuo que accede o usa el Servicio, o la compañía, u otra entidad legal en nombre de la cual tal individuo está accediendo o usando el Servicio, según sea aplicable.</p>
                </li>
            </ul>
            <h2>Recopilación y Uso de Tus Datos Personales</h2>
            <h3>Tipos de Datos Recopilados</h3>
            <h4>Datos Personales</h4>
            <p>Mientras utilizas Nuestro Servicio, podemos pedirte que nos proporciones cierta información personalmente identificable que puede ser utilizada para contactar o identificarte. La información personalmente identificable puede incluir, pero no está limitada a:</p>
            <ul>
                <li>
                    <p>Dirección de correo electrónico</p>
                </li>
                <li>
                    <p>Nombre y apellido</p>
                </li>
                <li>
                    <p>Dirección, Estado, Provincia, código ZIP/código postal, Ciudad</p>
                </li>
                <li>
                    <p>Datos de Uso</p>
                </li>
            </ul>
            <h4>Datos de Uso</h4>
            <p>Los Datos de Uso se recopilan automáticamente cuando se utiliza el Servicio.</p>
            <p>Los Datos de Uso pueden incluir información como la dirección de Protocolo de Internet de tu Dispositivo (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que visitas, la hora y fecha de tu visita, el tiempo que pasas en esas páginas, identificadores únicos de dispositivos y otros datos de diagnóstico.</p>
            <p>Cuando accedes al Servicio a través o por medio de un dispositivo móvil, podemos recopilar cierta información automáticamente, incluyendo, pero no limitado a, el tipo de dispositivo móvil que utilizas, tu ID único de dispositivo móvil, la dirección IP de tu dispositivo móvil, tu sistema operativo móvil, el tipo de navegador de Internet móvil que utilizas, identificadores únicos de dispositivos y otros datos de diagnóstico.</p>
            <p>También podemos recopilar información que tu navegador envía cada vez que visitas nuestro Servicio o cuando accedes al Servicio a través o por medio de un dispositivo móvil.</p>
            <h4>Tecnologías de Rastreo y Cookies</h4>
            <p>Utilizamos Cookies y tecnologías de rastreo similares para rastrear la actividad en Nuestro Servicio y almacenar cierta información. Las tecnologías de rastreo utilizadas son balizas, etiquetas y guiones para recopilar y rastrear información y para mejorar y analizar Nuestro Servicio. Las tecnologías que utilizamos pueden incluir:</p>
            <ul>
                <li><strong>Cookies o Cookies del Navegador.</strong> Una cookie es un pequeño archivo colocado en Tu Dispositivo. Puedes instruir a Tu navegador para que rechace todas las Cookies o para indicar cuándo se está enviando una Cookie. Sin embargo, si no aceptas Cookies, es posible que no puedas usar algunas partes de nuestro Servicio. A menos que hayas ajustado la configuración de Tu navegador para que rechace Cookies, nuestro Servicio puede usar Cookies.</li>
                <li><strong>Beacons web.</strong> Secciones específicas de nuestro Servicio y nuestros correos electrónicos pueden contener archivos electrónicos pequeños conocidos como web beacons (también referidos como gifs claros, etiquetas de píxel y gifs de un solo píxel) que permiten a la Compañía, por ejemplo, contar usuarios que han visitado esas páginas o abierto un correo electrónico y para otras estadísticas de sitios web relacionadas (por ejemplo, registrar la popularidad de una sección específica y verificar la integridad del sistema y del servidor).</li>
            </ul>
            <p>Las Cookies pueden ser "Persistentes" o de "Sesión". Las Cookies Persistentes permanecen en tu computadora personal o dispositivo móvil cuando te desconectas, mientras que las Cookies de Sesión se eliminan tan pronto como cierras tu navegador web. Aprende más sobre las cookies en el artículo de <a href="https://www.privacypolicies.com/blog/privacy-policy-template/#Use_Of_Cookies_Log_Files_And_Tracking" target="_blank">Políticas de Privacidad</a>.</p>
            <p>Utilizamos tanto Cookies de Sesión como Persistentes para los propósitos que se exponen a continuación:</p>
            <ul>
                <li>
                    <p><strong>Cookies Necesarias / Esenciales</strong></p>
                    <p>Tipo: Cookies de Sesión</p>
                    <p>Administradas por: Nosotros</p>
                    <p>Propósito: Estas Cookies son esenciales para proporcionarte los servicios disponibles a través del Sitio Web y para permitirte usar algunas de sus características. Ayudan a autenticar usuarios y prevenir el uso fraudulento de cuentas de usuarios. Sin estas Cookies, los servicios que has solicitado no pueden ser proporcionados, y solo utilizamos estas Cookies para proporcionarte esos servicios.</p>
                </li>
                <li>
                    <p><strong>Cookies de Política de Cookies / Aviso de Aceptación</strong></p>
                    <p>Tipo: Cookies Persistentes</p>
                    <p>Administradas por: Nosotros</p>
                    <p>Propósito: Estas Cookies identifican si los usuarios han aceptado el uso de cookies en el Sitio Web.</p>
                </li>
                <li>
                    <p><strong>Cookies de Funcionalidad</strong></p>
                    <p>Tipo: Cookies Persistentes</p>
                    <p>Administradas por: Nosotros</p>
                    <p>Propósito: Estas Cookies nos permiten recordar las elecciones que haces cuando usas el Sitio Web, como recordar tus detalles de inicio de sesión o preferencia de idioma. El propósito de estas Cookies es proporcionarte una experiencia más personal y evitar que tengas que reintroducir tus preferencias cada vez que usas el Sitio Web.</p>
                </li>
            </ul>
            <p>Para obtener más información sobre las cookies que utilizamos y tus elecciones respecto a las cookies, por favor visita nuestra Política de Cookies o la sección de Cookies de nuestra Política de Privacidad.</p>
            <h3>Uso de Tus Datos Personales</h3>
            <p>La Compañía puede usar Datos Personales para los siguientes propósitos:</p>
            <ul>
                <li>
                    <p><strong>Para proporcionar y mantener nuestro Servicio</strong>, incluyendo para monitorear el uso de nuestro Servicio.</p>
                </li>
                <li>
                    <p><strong>Para gestionar Tu Cuenta:</strong> para gestionar tu registro como usuario del Servicio. Los Datos Personales que proporcionas pueden darte acceso a diferentes funcionalidades del Servicio que están disponibles para ti como usuario registrado.</p>
                </li>
                <li>
                    <p><strong>Para la ejecución de un contrato:</strong> el desarrollo, cumplimiento y realización del contrato de compra de los productos, artículos o servicios que has comprado o de cualquier otro contrato con Nosotros a través del Servicio.</p>
                </li>
                <li>
                    <p><strong>Para contactarte:</strong> Para contactarte por correo electrónico, llamadas telefónicas, SMS, u otras formas equivalentes de comunicación electrónica, como las notificaciones push de una aplicación móvil respecto a actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o servicios contratados, incluyendo las actualizaciones de seguridad, cuando sea necesario o razonable para su implementación.</p>
                </li>
                <li>
                    <p><strong>Para proporcionarte</strong> noticias, ofertas especiales e información general sobre otros bienes, servicios y eventos que ofrecemos que son similares a aquellos que ya has comprado o consultado a menos que hayas optado por no recibir dicha información.</p>
                </li>
                <li>
                    <p><strong>Para gestionar tus solicitudes:</strong> Para atender y gestionar tus solicitudes a Nosotros.</p>
                </li>
                <li>
                    <p><strong>Para transferencias de negocios:</strong> Podemos usar tu información para evaluar o realizar una fusión, desinversión, reestructuración, reorganización, disolución, o cualquier otra venta o transferencia de algunos o todos nuestros activos, ya sea como una empresa en funcionamiento o como parte de quiebra, liquidación, o procedimiento similar, en el que los Datos Personales que poseemos sobre nuestros usuarios del servicio se encuentran entre los activos transferidos.</p>
                </li>
                <li>
                    <p><strong>Para otros propósitos</strong>: Podemos usar tu información para otros propósitos, como el análisis de datos, identificar tendencias de uso, determinar la efectividad de nuestras campañas promocionales y para evaluar y mejorar nuestro Servicio, productos, servicios, marketing y tu experiencia.</p>
                </li>
            </ul>
            <p>Podemos compartir tu información personal en las siguientes situaciones:</p>
            <ul>
                <li><strong>Con Proveedores de Servicios:</strong> Podemos compartir tu información personal con Proveedores de Servicios para monitorear y analizar el uso de nuestro Servicio, para contactarte.</li>
                <li><strong>Para transferencias de negocios:</strong> Podemos compartir o transferir tu información personal en conexión con, o durante las negociaciones de, cualquier fusión, venta de activos de la Compañía, financiamiento, o adquisición de todo o una parte de nuestro negocio a otra compañía.</li>
                <li><strong>Con Afiliados:</strong> Podemos compartir tu información con nuestros afiliados, en cuyo caso requeriremos que esos afiliados cumplan con esta Política de Privacidad. Los afiliados incluyen nuestra empresa matriz y cualquier otra subsidiaria, socios de joint venture u otras compañías que controlamos o que están bajo control común con Nosotros.</li>
                <li><strong>Con socios comerciales:</strong> Podemos compartir tu información con nuestros socios comerciales para ofrecerte ciertos productos, servicios o promociones.</li>
                <li><strong>Con otros usuarios:</strong> cuando compartes información personal o interactúas en las áreas públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y puede ser distribuida públicamente fuera.</li>
                <li><strong>Con tu consentimiento</strong>: Podemos divulgar tu información personal para cualquier otro propósito con tu consentimiento.</li>
            </ul>
            <h3>Retención de Tus Datos Personales</h3>
            <p>La Compañía retendrá Tus Datos Personales solo durante el tiempo que sea necesario para los fines establecidos en esta Política de Privacidad. Retendremos y usaremos Tus Datos Personales en la medida que sea necesario para cumplir con nuestras obligaciones legales (por ejemplo, si se nos requiere retener tus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y políticas legales.</p>
            <p>La Compañía también retendrá los Datos de Uso para fines de análisis interno. Los Datos de Uso generalmente se retienen por un período de tiempo más corto, excepto cuando estos datos se usan para fortalecer la seguridad o para mejorar la funcionalidad de Nuestro Servicio, o estamos legalmente obligados a retener estos datos por períodos de tiempo más largos.</p>
            <h3>Transferencia de Tus Datos Personales</h3>
            <p>Tu información, incluidos los Datos Personales, se procesa en las oficinas operativas de la Compañía y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Esto significa que esta información puede ser transferida a — y mantenida en — computadoras ubicadas fuera de tu estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de tu jurisdicción.</p>
            <p>Tu consentimiento a esta Política de Privacidad seguido de tu sumisión de dicha información representa tu acuerdo a esa transferencia.</p>
            <p>La Compañía tomará todos los pasos razonablemente necesarios para asegurar que tus datos sean tratados de forma segura y de acuerdo con esta Política de Privacidad y no se realizará transferencia de Tus Datos Personales a una organización o un país a menos que haya controles adecuados en lugar incluyendo la seguridad de Tus datos y otra información personal.</p>
            <h3>Eliminar Tus Datos Personales</h3>
            <p>Tienes el derecho de eliminar o solicitar que Nosotros asistamos en eliminar los Datos Personales que hemos recopilado sobre ti.</p>
            <p>Nuestro Servicio puede darte la capacidad de eliminar cierta información sobre ti desde dentro del Servicio.</p>
            <p>Puedes actualizar, enmendar o eliminar tu información en cualquier momento iniciando sesión en Tu Cuenta, si tienes una, y visitando la sección de configuración de la cuenta que te permite gestionar tu información personal. También puedes contactarnos para solicitar acceso, corregir o eliminar cualquier información personal que nos hayas proporcionado.</p>
            <p>Por favor, ten en cuenta, sin embargo, que podemos necesitar retener cierta información cuando tenemos una obligación legal o una base legal para hacerlo.</p>
            <h3>Divulgación de Tus Datos Personales</h3>
            <h4>Transacciones Empresariales</h4>
            <p>Si la Compañía está involucrada en una fusión, adquisición o venta de activos, Tus Datos Personales pueden ser transferidos. Proporcionaremos aviso antes de que Tus Datos Personales sean transferidos y se sujeten a una diferente Política de Privacidad.</p>
            <h4>Aplicación de la ley</h4>
            <p>Bajo ciertas circunstancias, la Compañía puede estar requerida a divulgar Tus Datos Personales si se requiere hacerlo por ley o en respuesta a solicitudes válidas por autoridades públicas (por ejemplo, un tribunal o una agencia gubernamental).</p>
            <h4>Otros requisitos legales</h4>
            <p>La Compañía puede divulgar Tus Datos Personales en la creencia de buena fe de que tal acción es necesaria para:</p>
            <ul>
                <li>Cumplir con una obligación legal</li>
                <li>Proteger y defender los derechos o propiedad de la Compañía</li>
                <li>Prevenir o investigar posibles irregularidades en conexión con el Servicio</li>
                <li>Proteger la seguridad personal de los usuarios del Servicio o del público</li>
                <li>Proteger contra responsabilidad legal</li>
            </ul>
            <h3>Seguridad de Tus Datos Personales</h3>
            <p>La seguridad de Tus Datos Personales es importante para Nosotros, pero recuerda que ningún método de transmisión por Internet, o método de almacenamiento electrónico es 100% seguro. Mientras nos esforzamos por usar medios comercialmente aceptables para proteger Tus Datos Personales, no podemos garantizar su seguridad absoluta.</p>
            <h2>Privacidad de los Niños</h2>
            <p>Nuestro Servicio no se dirige a nadie menor de 13 años. No recopilamos información personalmente identificable de nadie menor de 13 años. Si eres un padre/madre o tutor y estás consciente de que tu hijo nos ha proporcionado Datos Personales, por favor contáctanos. Si nos damos cuenta de que hemos recopilado Datos Personales de menores de 13 años sin verificación del consentimiento de los padres, tomamos pasos para eliminar esa información de nuestros servidores.</p>
            <p>Si necesitamos confiar en el consentimiento como base legal para procesar tu información y tu país requiere el consentimiento de un padre, podemos requerir el consentimiento de tu padre antes de recopilar y usar esa información.</p>
            <h2>Enlaces a Otros Sitios Web</h2>
            <p>Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por Nosotros. Si haces clic en un enlace de terceros, serás dirigido al sitio de ese tercero. Te aconsejamos fuertemente que revises la Política de Privacidad de cada sitio que visites.</p>
            <p>No tenemos control sobre y no asumimos ninguna responsabilidad por el contenido, políticas de privacidad o prácticas de sitios o servicios de terceros.</p>
            <h2>Cambios a esta Política de Privacidad</h2>
            <p>Podemos actualizar Nuestra Política de Privacidad de vez en cuando. Te notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
            <p>Te informaremos a través del correo electrónico y/o un aviso destacado en Nuestro Servicio, antes del cambio que se vuelva efectivo y actualizaremos la fecha de "Última actualización" en la parte superior de esta Política de Privacidad.</p>
            <p>Te aconsejamos que revises esta Política de Privacidad periódicamente para cualquier cambio. Los cambios a esta Política de Privacidad son efectivos cuando se publican en esta página.</p>
            <h2>Contáctanos</h2>
            <p>Si tienes alguna pregunta sobre esta Política de Privacidad, puedes contactarnos:</p>
            <ul>
                <li>
                    <p>Por correo electrónico: avbeacon@gmail.com</p>
                </li>
                <li>
                    <p>Visitando esta página en nuestro sitio web: <a href="www.avbeacon.com/contact" rel="external nofollow noopener" target="_blank">www.avbeacon.com/contact</a></p>
                </li>
            </ul>

        </main>
        <%- include('partials/common-footer') %>
        <%- include('partials/components/asistance-button') %>
        <%- include('partials/common-scripts') %>
    </body>
</html>
