<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('partials/common-head') %>
        <title>Profesionales</title>
    </head>
    <body id="home-page">
        <%- include('partials/common-header') %>
        <main class="container-fluid bg-dark bg-opacity-10" role="main">
        <div class="container py-5" role="main">
            <h1 class="mb-4">Profesionales</h1>
            <div class="list-group">
                <!-- Aquí comienza la lista de usuarios -->
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="/images/users/Harry.webp" alt="User 1" class="rounded-circle flex-shrink-0" width="64" height="64">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">Harry Domínguez</h5>
                            <p class="mb-0 opacity-75">Camarógrafo</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="/images/users/Maria.webp" alt="User 1" class="rounded-circle flex-shrink-0" width="64" height="64">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">María Barcala</h5>
                            <p class="mb-0 opacity-75">Directora</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="/images/users/Javi.webp" alt="User 1" class="rounded-circle flex-shrink-0" width="64" height="64">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">Javier Martínez</h5>
                            <p class="mb-0 opacity-75">Guionista</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="/images/users/Michaela.webp" alt="User 1" class="rounded-circle flex-shrink-0" width="64" height="64">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">Michaela Spencer</h5>
                            <p class="mb-0 opacity-75">Técnica de Sonido</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="/images/users/Daniela.webp" alt="User 1" class="rounded-circle flex-shrink-0" width="64" height="64">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">Daniela Lorenzo</h5>
                            <p class="mb-0 opacity-75">Técnica de Iluminación</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="/images/users/Nicky.webp" alt="User 1" class="rounded-circle flex-shrink-0" width="64" height="64">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">Nicole Myers</h5>
                            <p class="mb-0 opacity-75">Actriz</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        </main>
        <%- include('partials/common-footer') %>
        <%- include('partials/components/asistance-button') %>
        <%- include('partials/common-scripts') %>
    </body>
</html>
